*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

a{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
label{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
input{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

nav,footer,header,aside{display: block;}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  height: 100%;
  overflow-x: hidden;
}

body.lock{
  overflow: hidden;
}

.page{
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  position: relative;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

.header{
  background-color: rgba(0, 0, 0, .8);
  height: 80px;
}

.header--main{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, .8);
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.nav div .nav__link:not(:last-child){
  margin-right: 22px;
}

.m_link{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  padding: 20px 20px 60px 20px;
  position: relative;
}

.m_link:hover{
  background-color: #DE0101;
}

.m__block{
  position: absolute;
  top: 79px;
  z-index: 100;
  display: none;
  flex-direction: column;
}

.m__block.active{
  display: flex;
}

.m__block .menu__link{
  padding: 20px;
  background-color: rgba(0, 0, 0, .8);
}

.menu__link.active{
  display: block;
}

.menu__link:hover{
  background-color: #DE0101;
}

.logo{
  width: 177px;
}

.nav__link{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  transition: .3s color;
}

.nav__link:hover{
  color: #DE0101;
}

.nav__link.phone{
  font-weight: 500;
}

.menu__link{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

/*---------header---------*/

/*---------index---------*/
.intro{
  position: relative;
  z-index: 1;
}

.intro__content{
  position: absolute;
  top: 106px;
  left: 0;
  right: 0;
  z-index: 3;
}

.intro__container{
  display: flex;
  justify-content: space-between;
}

.intro__inner.left{
  margin-top: 297px;
  width: 460px;
  padding: 27px 45px 73px 45px;
  background-color: rgba(0, 0, 0, .8);
}

.left .intro__title{
  line-height: 34px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.01em;
}

.left .intro__title sup{
  font-size: 18px;
}

.left .intro__text{
  font-weight: 300;
  margin-top: 27px;
  line-height: 21.94px;
  font-size: 18px;
  color: #fff;
  letter-spacing: -0.009em;
}

.line{
  margin-top: 24px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.intro__price{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36.57px;
  color: #fff;
  margin-top: 14px;
  margin-left: 10px;
}

.btn{
  margin-top: 26px;
  text-align: center;
}

.btn__link{
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding: 10px 34px;
  border: 1px solid #fff;
}

.intro__inner{
  margin-top: 44px;
}

.into__title{
  text-align: right;
  font-size: 64px;
  font-weight: 500;
  line-height: 78px;
  color: #fff;
  letter-spacing: -0.016em;
}

.into__text{
  margin-top: 10px;
  text-align: right;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.94px;
  color: #fff;
  letter-spacing: -0.02em;
}

.form{
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serch__input{
  padding-left: 20px;
  width: 412px;
  height: 50px;
  background: #E5E5E5;
  opacity: 0.8;
}

.form__btn{
  cursor: pointer;
  width: 100%;
  height: 50px;
  color: #fff;
  width: 176px;
  background-color: #DE0101;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.intro__media{
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
}

video::-webkit-media-controls {
    display:none !important;
}

.intro__media img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.real_estate{
  position: relative;
}

.title{
  padding-top: 103px;
  font-size: 64px;
  font-weight: 500;
  line-height: 78.02px;
  letter-spacing: -0.015em;
}

.title:before{
  content: '';
  width: 285px;
  height: 3px;
  background-color: #DE0101;
  display: block;
  margin-bottom: 10px;
}

.real_estate__container{
  margin-top: 67px;
  width: 1068px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.real_estate__container.bottom{
  width: 1077px;
  margin-left: auto;
}

.real_estate__media{
  position: relative;
  width: 346px;
  height: 175px;
  overflow: hidden;
}

.real_estate__media img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.real_estate__text{
  margin-top: 26px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36.57px;
}

.filters__container{
  padding-top: 67px;
  width: 950px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__container{
  position: relative;
  width: 224px;
  height: 50px;
  background-color: #E5E5E5;
}

.filter__title{
  margin-top: 6px;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.63px;
  color: #DE0101;
}

.arrow{
  cursor: pointer;
  display: block;
  position: absolute;
  top: 24px;
  right: 15px;
  z-index: 100;
  width: 15px;
  height: 5px;
  background-color: transparent;
}

.arrow:before,
.arrow:after{
  content: '';
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 10px;
  opacity: .6;
  transition: all .3s;
}

.arrow:before{
  transform: rotate(45deg);
  top: 0;
  left: -10px;
}

.arrow:after{
  transform: rotate(-45deg);
  top: 0;
}

.arrow.active:before{
  transform: rotate(-45deg);
  top: 0;
  left: -10px;
}

.arrow.active:after{
  transform: rotate(45deg);
  top: 0;
}

.filter__point{
  position: relative;
  z-index: 2;
  padding-top: 12px;
  background-color: #E5E5E5;
  display: none;
}

.filter__point.category.active{
  display: block;
}

.filter__point.lot.active{
  display: block;
}

.filter__point.price.active{
  display: block;
}

.filter__text{
  margin-top: 1px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 400;
}

.filter__text.category{
  padding: 15px 0;
}

.filter__btn{
  position: relative;
  width: 224px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #DE0101;
}

.filter__btn__link{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.bg__lines_real_estate{
  pointer-events:none;
  position: absolute;
  top: 171px;
  left: 12px;
  right: 0;
}

.advantages{
  position: relative;
  margin-top: 60px;
  text-align: right;
}

.title.advantages:before{
  content: '';
  width: 285px;
  height: 3px;
  background-color: #DE0101;
  display: block;
  position: absolute;
  top: 73px;
  right: 0;
}

.advantages__container{
  position: relative;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__inner{
  text-align: left;
  padding: 0 113px;
  width: 588px;
  height: 353px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.advantages__inner.black{
  background-color: rgba(0, 0, 0, .8);
}

.advantages__text{
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 36.57px;
  letter-spacing: -0.015em;
}

.advantages__text.black{
  color: #000;
}

.bg__lines_advantages{
  pointer-events:none;
  position: absolute;
  top: 0px;
  left: -3px;
  right: 0;
}

.team{
  margin-top: 33px;
}

.title.team:before{
  position: absolute;
  top: 50px;
}

.team__container{
  margin-top: 70px;
  margin-bottom: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__inner{
  width: 345px;
}

.team__media{
  position: relative;
  width: 345px;
  height: 375px;
  overflow: hidden;
}

.team__media img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.team_post{
  margin-top: 16px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29.26px;
  letter-spacing: -0.04em;
}

.team_name{
  margin-top: 24px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36.57px;
  color: #DE0101;
  letter-spacing: -0.03em;
  margin-bottom: 25px;
}

.team_phone{
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  letter-spacing: -0.021em;
}
/*---------index---------*/

/*---------catalog---------*/
section.catalog{
  padding-top: 80px;
}

.catalog{
  position: relative;
  margin-bottom: 201px;
}

.title.catalog{
  padding-top: 47px;
  font-size: 50px;
  font-weight: 500;
  line-height: 60.95px;
  letter-spacing: -0.03em;
  margin-bottom: 0;
}

.title.catalog:before{
  content: '';
  width: 285px;
  height: 3px;
  background-color: #DE0101;
  display: block;
  margin-bottom: 10px;
}

.catalog__filter{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
}

.catalog__item:not(:last-child){
  border-right: 1px solid #979797;
}

.catalog__item{
  width: 25%;
  padding: 48px 0 48px 29px;
}

.catalog__item__text{
  background-color: transparent;
  font-size: 19px;
  font-weight: 400;
  line-height: 23.16px;
  color: #000;
}

.catalog__filter_2{
  margin-top: 51px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.catalog__filter_2__title{
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;

  color: #000000;
}

.catalog__item_2{
  margin-left: 30px;
}

.catalog__item__text_2{
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #757575;
  background-color: transparent;
}

.catalog__item__text_2:hover{
  color: #DE0101;
}

.catalog__wrapper{
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__wrapper.interesting{
  margin-top: 70px;
}

.catalog__inner{
  width: 375px;
  margin-bottom: 55px;
}

.catalog__media{
  width: 375px;
  height: 266px;
  position: relative;
  overflow: hidden;
}

.catalog__media img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.catalog__container{
  background: #FFFFFF;
}

.catalog__title{
  padding: 30px 0 30px 33px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.1px;
  color: #000;
  border-bottom: 1px solid #E4E4E4;
}

.catalog__info{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
  border-radius: 0px 0px 25px 25px;
}

.catalog__info__wrapper{
  margin-top: 40px;
}

.catalog__info__title{
  padding: 30px 0 30px 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.502564px;
}

.catalog__info__inner{
  padding: 16px 0;
  width: 33.33333%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__info__inner:not(:last-child){
  border-right: 1px solid #979797;
}

.catalog__info__icon{
  margin-top: 5px;
  margin-right: 13px;
}

.catalog__text{
  color: #000;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.427179px;
}

.catalog__text.date{
  font-weight: 500;
}

.catalog__text.bathroom{
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.427179px;
}

.catalog__navigation{
  margin-top: 23px;
  margin-left: 234px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.catalog__navigation__link{
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #000;
}

.catalog__navigation__link:not(:last-child){
  margin-right: 14px;
}

.catalog__navigation__link:hover{
  color: #DE0101;
}

.lines_ct{
  pointer-events:none;
  position: absolute;
  top: 96px;
  left: -70px;
  right: 0;
}
/*---------catalog---------*/

/*---------item---------*/
section.item__title{
  margin-top: 80px;
}

.item__title{
  border-top: 2px solid #fff;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, .8);
}

.item__content{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item__title__text{
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.9px;
  color: #fff;
}

.adress{
  margin-top: 6px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.5px;
  opacity: .8;
  color: #fff;
}

.item__price{
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  letter-spacing: -0.804102px;
  color: #fff;
}

.item__info{
  margin-top: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item__info__media{
  position: relative;
  width: 792px;
  height: 520px;
  overflow: hidden;
}

.item__info__media img{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info__gallery{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__gallery__media{
  width: 100px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.info__gallery__media .info__gallery__media__img{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.catalog__description{
  margin-top: 45px;
  padding: 30px;
  width: 792px;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
  border-radius: 25px;
  background-color: #fff;
}

.catalog__description__title{
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.502564px;
  margin-bottom: 68px;
}

.catalog__description__title:after{
  content: '';
  position: absolute;
  bottom: -34px;
  left: -30px;
  width: 792px;
  height: 1px;
  background-color: #E4E4E4;
  display: block;
}

.catalog__description__text{
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.376923px;
}

.item__form__container{
  padding: 20px 22px;
  width: 342px;
  background-color: #fff;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
  border-radius: 25px;
}

.item__manager{
  padding: 15px 14px;
  width: 100%;
  background: #F5F5F5;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item__manager__media{
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 10px;
}

.item__manager__media img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item__manager__title{
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.376923px;
}

.item__manager__text{
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.326667px;
  color: #DE0101;
}

.item__form{
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.item__form input{
  width: 100%;
  padding: 20px;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.376923px;
  margin-bottom: 10px;
  color: #000;
}

.item__form textarea{
  width: 100%;
  padding: 20px 15px;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.376923px;
  color: #000;
  resize: none;
}

.interesting{
  margin-bottom: 65px;
}

.title.interesting{
  margin-bottom: 0;
  padding-top: 74px;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -1.5px;
}

.item__form__btn{
  color: #fff;
  background-color: #DE0101;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.427179px;
  width: 100%;
  padding: 25px 0;
  margin-top: 10px;
}

.seller__filter{
  margin-bottom: 255px;
}

.seller__filter__conditions{
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.427179px;
  color: #979797;
  margin-top: 18px;
  margin-bottom: 17px;
}

.linnes__sl{
  pointer-events: none;
  position: absolute;
  top: 94px;
  left: -72px;
}
/*---------item---------*/

/*---------seller---------*/
section.seller{
  padding-top: 80px;
}

.title.seller{
  padding-top: 48px;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -1.25641px;
}

.seller__title{
  margin-top: 59px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.seller__btn{
  margin-top: 76px;
  text-align: right;
}

.seller__btn__link{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.427179px;
  color: #FFFFFF;
  background-color: #DE0101;
  padding: 26px 117px;
}

.seller__filter__title{
  margin-top: 87px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.seller__filter__container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.seller__filter__inner.form{
  width: 543px;
  padding: 10px 30px;
  background: #FFFFFF;
  border-radius: 25px;
  margin-top: 0;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
}

.seller__filter__inner.form.form__room,
.seller__filter__inner.form.form__house,
.seller__filter__inner.form.form__land_plot,
.seller__filter__inner.form.form__business{
  display: none;
}

.seller__filter__inner.form.form__room.block{
  display: block;
}
.seller__filter__inner.form.form__house.block{
  display: block;
}
.seller__filter__inner.form.form__land_plot.block{
  display: block;
}
.seller__filter__inner.form.form__business.block{
  display: block;
}


.none{
  display: none;
}

.seller__filter__inner.form .item__form button{
  margin-top: 25px;
}

.radio{
  padding: 20px 70px;
  width: 592px;
  background: #FFFFFF;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
  margin-bottom: 27px;
}

.radio__input{
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  position: absolute;
}

.radio__lable{
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.015em;
}

.radio__lable:before{
  content: '';
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #DE0101;
  display: block;
  position: absolute;
  top: 3px;
  left: -47px;
}

.radio__lable:after{
  content: '';
  cursor: pointer;
  background-color: #DE0101;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #DE0101;
  display: block;
  position: absolute;
  top: 3px;
  left: -47px;
  opacity: 0;
  transition: .3s;
}

.radio__input:checked + .radio__lable:after{
  opacity: 1;
}
/*---------seller---------*/

/*---------buyer---------*/
section.buyer{
  padding-top: 80px;
}

.title.buyer{
  padding-top: 48px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -1.25641px;
}

.title:before{
  content: '';
  width: 285px;
  height: 3px;
  background-color: #DE0101;
  display: block;
  margin-bottom: 10px;
}

.buyer{
  margin-bottom: 238px;
}

.buyer__title{
  margin-top: 58px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.point__container{
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.number{
  position: relative;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  border-radius: 50%;
  border: 3px solid #DE0101;
  display: inline-block;
  padding: 24px 36px;
}

.buyer__text{
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  margin-left: 36px;
  max-width: 1051px;
}

.buyer__text.conditions{
  max-width: 100%;
}

.lines_by{
  pointer-events: none;
  position: absolute;
  top: 94px;
  left: -71px;
}
/*---------buyer---------*/

/*---------conditions---------*/
section.conditions{
  padding-top: 80px;
}

.container__conditions{
  position: relative;
  width: 100%;
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 127px;
}

.conditions__media{
  text-align: center;
  position: relative;
  width: 100%;
  height: 963px;
  overflow: hidden;
}

.conditions__media img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.conditions__title{
  margin-top: 62px;
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: -0.005em;
}

.title.conditions{
  padding-top: 47px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: -0.015em;
}

.point__container.conditions{
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.logo__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 43px;
}

.logo__inner:not(:last-child){
  margin-right: 20px;
}

.logo__inner{
  padding: 25px 20px;
  background-color: #fff;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
  border-radius: 25px;
}

.logo__inner img{
  max-width: 325px;
}

/*---------conditions---------*/

/*---------services---------*/
section.services{
  padding-top: 80px;
}

.services{
  margin-bottom: 88px;
}

.services__media{
  width: 100%;
  height: 956px;
  position: relative;
  overflow: hidden;
} 

.services__media img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.title.services{
  padding-top: 65px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -1.25641px;
}

.container__conditions.services{
  margin-top: 54px;
  padding: 0 26px;
}

.radio.services{
  width: 100%;
  margin-bottom: 26px;
}

.spoiler__item{
  cursor: pointer;
  margin-bottom: 26px;
}

.spoiler__title{
  position: relative;
  padding: 20px 70px;
  background: #FFFFFF;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
}

.spoiler__title:before{
  content: '';
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #DE0101;
  display: block;
  position: absolute;
  top: 23px;
  left: 25px;
}

.spoiler__title.active:before{
  content: '';
  cursor: pointer;
  background-color: #DE0101;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #DE0101;
  display: block;
  position: absolute;
  top: 23px;
  left: 25px;
  transition: .3s;
}

.spoiler__title p{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.spoiler__text{
  margin-top: 37px;
  margin-bottom: 56px;
  display: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.015em;
}

.item__info.spoiler{
  padding: 0 125px;
}

.spoiler .spoiler__item:last-child .spoiler__text{
  margin-top: -50px;
}

/*---------services---------*/

/*---------footer---------*/
.footer{
  margin-top: auto;
  background-color: #000;
}

.footer__container{
  padding: 172px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__footer .footer__link:not(:last-child){
  margin-bottom: 13px;
}

.footer__link{
  font-size: 18px;
  font-weight: 300;
  line-height: 21.94px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.94px;
  transition: .3s color;
}

.footer__link:hover{
  color: #DE0101;
}

.adress{
  width: 320px;
}

.adress .adress__text:not(:last-child){
  margin-bottom: 9px;
}

.adress__text{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.94px;
  transition: .3s color;
}

.adress__text:hover{
  color: #DE0101;
}

/*------Media------*/
@media (max-width: 1220px){
  body{
    min-width: 1220px;
  }
  .header--main{
    min-width: 1220px;
  }
  .container__conditions{
    min-width: 1220px;
  }
  .item__info.spoiler{
    padding: 0px;
  }
  .popup__media__container{
    min-width: 1220px;
  }
  .menu{
    min-width: 1220px;
  }
  .lightbox{
    min-width: 1220px;
  }
}

@media (max-width: 1920px){
    .item_1__popup,
    .item_2__popup,
    .item_3__popup,
    .item_4__popup,
    .item_5__popup,
    .item_6__popup,
    .item_7__popup{
      height: calc(400px + (1000 - 400) * ((100vw - 320px) / (1920 - 320)));
      padding: calc(10px + (50 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
  .logo__inner img{
    max-width: calc(170px + (325 - 170) * ((100vw - 320px) / (1920 - 320)));
  }
/*------Media------*/